#############################
# Build & Maven
#############################
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
*.log

#############################
# Trivy Cache (NUNCA versionar)
#############################
.trivy-cache/
trivy.db
trivy-fs.txt

#############################
# IDEs and Editors
#############################
# IntelliJ
.idea/
*.iml
*.ipr

# Eclipse / Spring Tools
.classpath
.project
.settings/
.springBeans/
.sts4-cache/

# VSCode
.vscode/

#############################
# OS files
#############################
.DS_Store
Thumbs.db

#############################
# Scripts temporários
#############################
_backup*
